.Rproj.user
.Rhistory
.RData
.Ruserdata
shapefiles/phl_admbnda_adm3_psa_namria_20200529.cpg
shapefiles/phl_admbnda_adm3_psa_namria_20200529.dbf
shapefiles/phl_admbnda_adm3_psa_namria_20200529.prj
shapefiles/phl_admbnda_adm3_psa_namria_20200529.sbn
shapefiles/phl_admbnda_adm3_psa_namria_20200529.sbx
shapefiles/phl_admbnda_adm3_psa_namria_20200529.shp
shapefiles/phl_admbnda_adm3_psa_namria_20200529.shp.xml
shapefiles/phl_admbnda_adm3_psa_namria_20200529.shx
